@page "/finalizar"
@using src.Data.BusinessLogic.SubCompras
@inject SubComprasFacade Facade
@using src.Data.BusinessLogic
@inject LogicaNegocio LogicaNegocio
@inject IJSRuntime js

<style>
	html, body{
		height: 100%;
		width: 100%;
		background-color: lightgray;
	}

	.payments-container {
		height: 20%;
		border: solid;
		display: grid;
		grid-template-columns: auto auto auto;
		background-color: white;
	}

	.payment {
		width: 100px;
		justify-self: center;
		align-self: center;
	}

		.payment:before {
			content: "";
			float: left;
			padding-top: 10%; /* initial ratio of 1:1*/
		}

	.form-container {
		border: solid;
		background-color: lightgrey;
	}

	.mbway {
		margin-top: 30px;
		visibility: @mbwayVisibility;
	}

	.mb {
		visibility: @mbVisibility;
	}

	.credit-card {
		margin-top: -120px;
		visibility: @ccVisibility;
	}

	.payment-data-container {

	}

</style>

<div class="form-container">
	<h2>Insira os dados de faturação</h2>
	<form id="myform">
		<label for="fname">Nome:</label><br>
		<input type="text" id="fname" @bind="@firstName" required/><br /><br />
		<label for="lname">Apelido:</label><br>
		<input type="text" id="lname" @bind="@lastName" required><br><br>
		<label for="telephone">Número de telemóvel:</label><br>
		<input type="text" id="telephone" @bind="@telephoneNumber" required><br><br>
		<label for="lname">Morada:</label><br>
		<input type="text" id="lname" @bind="@address" required><br><br>
	</form>
</div>

<div class="payments-container">
	<div class="payment">
		<button type="submit" form="myform" @onclick="mbway"><img src="css/images/MBWay.png" width="140%" height="100%" /></button>
	</div>
	<div class="payment">
		<button type="submit" @onclick="mb"><img src="css/images/Multibanco.svg.png" width="100%" height="100%" /></button>
	</div>
	<div class="payment">
		<button type="submit" @onclick="creditCard"><img src="css/images/MasterCard.png" width="100%" height="100%" /></button>
	</div>
</div>

<div class="payment-data-container">
	<div class="mbway" style="display: @mbwayVisibility">
		<form>
			<label for="mbwayphone">Número de telefone MBWay</label><br />
			<input type="text" id="mbwayphone" @bind="@mbwayphone"><br /><br />
		</form>
		<button @onclick="buy" style="margin-top: 30px;">Finalizar compra!</button>
	</div>

	<div class="mb" style="display: @mbVisibility">
		<p><span style="font-weight: bold">Entidade: </span>12345</p>
		<p><span style="font-weight: bold">Referência: </span>123 456 789</p>
		<p><span style="font-weight: bold">Valor: </span>20€</p>
		<button @onclick="buy" style="margin-top: 30px;">Finalizar compra!</button>
	</div>

	<div class="credit-card" style="display:@ccVisibility">
		<form id="snd-form">
			<label for="ccnum">Número do cartão: </label><br />
			<input type="text" form="snd-form" id="ccnum" @bind="@ccNum" required/><br /><br />
			<label for="cccode"></label>Security code: <br />
			<input type="text" form="snd-form" id="cccode" @bind="@ccCode" required/><br /><br />
			<label for="edate">Expiration date: </label><br />
			<input type="date" form="snd-form" id="edate" @bind="@expDate" />
		</form>
		<button @onclick="buy" style="margin-top: 30px;">Finalizar compra!</button>
	</div>
</div>





@code {
	private String firstName;
	private String lastName;
	private String telephoneNumber;
	private String address;

	private String mbwayphone;

	private String ccNum;
	private String ccCode;
	private System.DateTime expDate;

	private String mbwayVisibility;
	private String mbVisibility;
	private String ccVisibility;

	protected override async Task OnInitializedAsync()
	{
		mbVisibility = "none";
		mbwayVisibility = "none";
		ccVisibility = "none";
	}

	private void mbway(){
		mbwayVisibility = "block";
		mbVisibility = "hidden";
		ccVisibility = "hidden";
	}

	private void mb(){
		mbVisibility = "block";
		mbwayVisibility = "hidden";
		ccVisibility = "hidden";
	}

	private void creditCard(){
		ccVisibility = "block";
		mbwayVisibility = "hidden";
		mbVisibility = "hidden";
	}

	private async void buy(){
		LogicaNegocio ln = new LogicaNegocio();
		try{
			ln.FinalizarCompra(12345678, firstName + lastName, address, telephoneNumber);
		} catch (Exception e) {
			await js.InvokeVoidAsync("alert", e.Message);
		}
	}
}